@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300);
body {
    font-family: 'Roboto', sans-serif;
    /*margin-bottom: 90px;*/
    height: 100%;
    background-color: #242421!important;
    color:#fff!important;
}
html {
    position: relative;
    min-height: 100%;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*---------------------------------------------------------------NavBar Starts---------------------------------------------------------------*/
.side-menu {
    position: fixed;
    left:0;
    width: 50px;
    height: 100%;
    background-color: #3A5B95;
    border-right: 1px solid transparent;
}
.side-menu .navbar {
    border: none;
}
.navbar-nav {
    background: #3A5B95;
    width: 48px;
}
.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid transparent;
}
.side-menu .navbar-nav .active a {
    background-color: #3A5B95;
    margin-right: -1px;
    border-right: 5px solid transparent;
}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid transparent;
    margin-bottom: 20px;
    margin-top: 20px;
}
.side-menu .navbar-nav li a {
    padding: 4px 15px;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
.navbar-default{
    background: transparent;
}
/* small screen */
@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid transparent;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 50px;
        top: 43px;
        height: 100%;
        border-right: 1px solid transparent;
        background-color: #3A5B95;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
          width:285px;
          -moz-animation: slideout 300ms forwards;
          -o-animation: slideout 300ms forwards;
          -webkit-animation: slideout 300ms forwards;
          animation: slideout 300ms forwards;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
      }*/
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 50px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 50px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 50px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 50px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 50px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 50px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #3A5B95;
    }
    .navbar-toggle:hover {
        background-color: #3A5B95!important;
    }
    .navbar-toggle:focus {
        background-color: #3A5B95!important;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #3A5B95;
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }
}

.active_ {
    background-color: #335186;
    width: 135%!important;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#machine a {
    padding-left: 10px;
}

/*---------------------------------------------------------------NavBar Ends---------------------------------------------------------------*/

.jumbotron {
    background: transparent;
}

.home-heading {
    text-align: center;
}

.login-form {
    width: 50%;
    margin: 0 auto;
}

.home-icon {
    padding-left: 31px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.username-icon {
    background: url("../img/username_icon.png") no-repeat 12px;
    background-color: white;

}

.password-icon {
    background: url("../img/password_icon.png") no-repeat 12px;
    background-color: white;
}
.login-page {
    background-color: rgba(0,0,0,0.6);
    height: auto;
}
.home-bg {
    text-align: center;
    padding: 48px 60px;
}

.home-bg .input-group-addon {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

input[name=username], input[name=password] {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.logo-home {
    /*width: 45%;*/
    margin-bottom: 15%;
}

.login-submit {
    border-radius: 25px;
    line-height: 25px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    width: 100px;
}

.alert-login {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.reports-table, .users-table{
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.reports-table tr, .users-table tr {
    border: 1px solid #bbb;
}

.reports-table tr td:first-child, .users-table tr td:first-child {
    border-left: 1px solid #bbb;
}

.reports-table tr td:last-child, .users-table tr td:last-child {
    border-right: 1px solid #bbb;
}

.reports-table tr td,.users-table tr td {
    padding: 5px;
    border-top: solid #ccc 1px;
    border-bottom: solid #ccc 1px;
}

.reports-table td img {
    min-width: 50px;
    max-width: 65px;
    width: 22%;
}

.forms-username {
    font-size: 15px;
    color: #fff;
    /*margin-top: -12px;*/
    margin-bottom: 0;
}

.forms-download {
    cursor: pointer;
}

.reports {
    height: 63vh;
    overflow: auto;
    padding-right: 10px;
    margin-top: 10px;
    border-top: 1px solid #BBB;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border: 1px solid #aaa;

}

::-webkit-scrollbar-thumb {
    background-color: rgba(82, 82, 82, 0.53);
}

footer {
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.machine-data {
    border-left: 1px solid #ddd;
}

ul {
    list-style-type: none;
}

.serial-number {
    color: #E9C96A;
    font-size: 25px;
    font-weight: 700;
}

.forms-desc p{
    margin-bottom: 0;
}

.no-cursor {
    cursor: default;
}

.question {
    font-size: 18px;
    margin-bottom: 0;
}
.comment {
    margin-bottom: 0;
    font-weight: 100;
}

.comment b {
    font-weight: 400;
}

.question-status {
    float: left;
    width: 15%;
    background: #999999;
    padding: 5px;
    color: #f5f5f5;
    text-align: center;
    border-radius: 25px;
    white-space: nowrap;
    min-width: 85px;
}

.groupName {
    /*color: white;*/
    text-align: center;
    margin-bottom: 0;
}

.skip-btn {
    background: #4D4D4D!important;
}

.warning-btn {
    background: #FF9900!important;
}

.pass-btn {
    background: #0CA507!important;
}

.forms-brief {
    border: 1px solid #D5D5D5;
    padding: 10px;
    border-radius: 14px;
    background-color: #000;
}

.forms-brief h3 {
    margin-top: 0;
    color: #3767B1;
    text-align: center;
}

.values-circled {
    margin-bottom: 10px;
    display: table;
    padding-left: 0;
    width: 100%;
    color: #fff;
}

.values-circled li {
    display: table-cell;
    text-align: center;

}

.values-circled li div {
    background: #999;
    border-radius: 50%;
    font-size: 28px;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.history {
    width: 100%;
    text-align: left;
}

.history th {
    font-size: 18px;
    color:#E9C96A;
}

a{
    color: inherit;
    text-decoration: none;
}

.machine-details {
    margin-top:20px;
}

.logo-dashboard {
    min-width: 100px;    float: left;
}

.user-info p {
    float: left;
    font-weight: bold;
    font-size: 15px;
}
.user-info a {
    color: #fff;
}
.word-seperator {
    width: 1px;
    border-left: 2px solid #bbb;
    margin-left: 4px;
    margin-right: 1px;
}

.filter-col {
    width: 50%;
    margin: 10px auto;
    min-width: 170px;
}

.filter-col input {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}


.filter-calendar input {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.filter-calendar .input-group-addon {
    border-bottom-left-radius:0;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.left_ {
    float: left!important;
}

.filter-buttons div {
    width:40%;
}
.right_ {
    float: right!important;
}

.filter-buttons input {
    color: #426299;
    border-color: #426299;;
}

.dashboard-heading {
    float: right!important;
    clear: both;
    font-size: 21px!important;
    font-weight: 400!important;
    color: #fff;
}

.margin-center {
    margin: 0 auto;
}

/*-------------------------------------------------------------- User Management Starts --------------------------------------------------------------*/
.user-pic {
    width: 22%;
    height: 22%;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #B3B3B3;
    border-radius: 50%;
    background: url("../img/username_icon.png") no-repeat center center;
}

.user-actions {
    font-weight: bold;
}

.user-icons  {
    /*color: #335187;*/color:#fff;
    margin: 0 5px;
    border: 1px dashed #fff;
    padding: 5px;
}

.userName {
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.user-status {
    color: #000;
    font-weight: bold;
}

#add-user p {
    cursor: pointer;
}

.overlay-wrapper{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.66);
    z-index: 45;
}
#add-user-div, #add-machine-div {
    width: 20%;
    height: 100%;
    min-width: 300px;
    background: #3A5B95;
    padding: 20px 35px 35px 35px;
    color: white;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#addUserForm table {
    width: 100%;
}



#add-user-div input[type=text], #add-user-div input[type=email], #add-user-div input[type=number], #add-machine-div input[type=text] {
    line-height: 2;
    margin: 6px 0;
    width: 90%;
}

#add-user-div input[type=checkbox] {
    margin-right: 10px;
    /* All browsers except webkit*/
    transform: scale(2);

    /* Webkit browsers*/
    -webkit-transform: scale(2);
}

#add-user-close {
    cursor: pointer;
}





/*-------------------------------------------------------------- User Management Ends --------------------------------------------------------------*/


/*-------------------------------------------------------------- Machine Management Starts --------------------------------------------------------------*/

.machines {
    height: 63vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    margin-top: 10px;
    border-top: 1px solid #BBB;
}

.machine-list img {
    width: 100%;
    max-width: 140px;
}

.machine-block-root {
    padding: 28px;
}

.machine-block .values-circled {
    min-width: 177px;
}

.machine-block .values-circled li div {
    width: 35px;
    height: 35px;
    font-size: 22px;
    padding-top: 2px;
}

.machine-block {
    padding: 5px;
    border: 1px solid #C5C5C5;
    border: 0;
}


.machine-block hr {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.machine-block a {
    text-decoration: none;
}

.machine-block a:hover {
    color:#5A93E2;
}

.machine-text {
    padding-left: 10px;
}

#add-machine-close, #add-machine {
    cursor: pointer;
}

.machine-data img {
    width:100%;
    max-width: 100px;
}

.total-machine-hours {
    margin-bottom: 0;
    text-align: left;
    padding-left: 9px;
}


/*Adding machines*/
.machine-form {
    border-left: 2px solid #BBB;
    max-height: 75vh;
    overflow: auto;
    padding-top: 6px;
}

.add-group-div {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding-left: 30px;
    padding-right: 25px;
    margin-bottom: 16px;
}

.questions {
    padding-left: 25px;
}

.add-group-div input {
    margin: 20px 0;
}

.cursor-pointer {
    cursor: pointer;
    display: inline-block;
}

.questions {
    margin-bottom: 0;
}

div[class^="questions-group-"], div[class*=" questions-group-"] {
    padding-left: 25px;
}


/*-------------------------------------------------------------- Machine Management Ends --------------------------------------------------------------*/

/*-------------------------------------------------------------- Analytics Starts --------------------------------------------------------------*/

.circles {
    background: #999;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    min-width: 18px;
    min-height: 18px;
    position: relative;
}
.inner-circle {
    background: #fff;
    min-height: 3px;
    min-width: 3px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -2px;
}

.circles-td {
    padding: 2px;
}

.formId {
    padding-right: 10px;
    border-right: 2px solid #C2C2C2;
}

.serial-analytics {
   margin-bottom: 0;
}

.analytics {
    width: 100%;
    margin: 0 auto;
}

.line {
    border-left: 2px solid #bbb;
    padding-right: 10px;
}


/*-------------------------------------------------------------- Analytics End --------------------------------------------------------------*/

/*-------------------------------------------------------------- Ajax Loader Starts --------------------------------------------------------------*/
#loader_overlay {
    display: none;
    position: fixed;
    z-index: 46;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#loadingProgressG{
    width:100px;
    height:8px;
    overflow:hidden;
    position: absolute;
    top: 50%;
    left: 47.5%;
    background-color:#000000;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

.loadingProgressG{
    background-color:#FFFFFF;
    margin-top:0;
    margin-left:-100px;
    -moz-animation-name:bounce_loadingProgressG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:bounce_loadingProgressG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:bounce_loadingProgressG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:bounce_loadingProgressG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:bounce_loadingProgressG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    width:100px;
    height:8px;
}

@-moz-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100px;
    }

    100%{
        margin-left:100px;
    }

}

@-webkit-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100px;
    }

    100%{
        margin-left:100px;
    }

}

@-ms-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100px;
    }

    100%{
        margin-left:100px;
    }

}

@-o-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100px;
    }

    100%{
        margin-left:100px;
    }
}

@keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100px;
    }

    100%{
        margin-left:100px;
    }

}
/*-------------------------------------------------------------- Ajax Loader End --------------------------------------------------------------*/

hr {
    border-top: 1px solid #C5C5C5;
}

@media screen and (max-width: 768px) {
    .home-bg {
        padding: 10px 10px;
    }

    .machine-data img {
        float: left;
    }

    .forms-brief {
        margin-top: 10px;
    }
}



.white {
    color: #fff;
}
.shift-tabs li {
padding-right: 0;
    padding-left: 0;
}
.shift-per {
    width: 48%;
}
.nav > li > a:hover, .nav > li > a:focus { background-color: #E9C96A;color: #000;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color:#E9C96A ;color:#000;
}
.scroll-table{ width: 100%; overflow: auto; height: 82vh; }
.yellow { color: #E9C96A!important; }
.main-div {
    position: absolute;
    z-index: 0;height: 100%;width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.main-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.login-bg {
    background:url("../images/home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.tab-bg {
    color:#fff;
    border-right: 1px solid #000;
    padding: 10px 0;
    background-color: #333;
    cursor: pointer;
}
.pad-left-0 {
    padding-left: 0;
}

.showActive{
    color: #000;
    background: #E9C96A;
    cursor: pointer;


}

.center-no-border {
    border:0 !important;
    text-align: center;
}

.tab-scroll1{height: 63vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    margin-top: 10px;}