<html lang="en"><head>
    <meta charset="utf-8">
    <title>Barrick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Le styles -->
    <link href="/img/dbs_icon_black.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="css/style.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="side-menu hidden-xs hidden-sm hidden-md hidden-lg">

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="brand-wrapper">
                <!-- Hamburger -->
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <!-- Main Menu -->
        <div class="side-menu-container">
            <ul class="nav navbar-nav">
                <li class="to-implement"><a href="#"><img src="/img/plus_icon.png" pagespeed_url_hash="856983588"></a></li>
                <!--                        <li class="to-implement" id="user"><a href="#"><img src="--><!--/img/user_icon.png"></a></li>-->
                <li id="user"><a href="/user"><img src="/img/user_icon.png" pagespeed_url_hash="2359760963"></a></li>
                <li id="machine"><a href="/machines"><img src="/img/machine_icon.png" pagespeed_url_hash="3319675097"></a></li>
                <li id="reports"><a href="/reports"><img src="/img/reports_icon.png" pagespeed_url_hash="617203413"></a></li>
                <li class="to-implement"><a href="#"><img src="/img/settings_icon.png" pagespeed_url_hash="3006117583"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

</div>
<div class="side-body">
<div class="home-bg">
<div class="row dashboard-header">
    <div class="col-md-6">
        <img class="logo-dashboard" src="images/logo.png">
    </div>
    <div class="col-md-6">
        <div class="user-info right_">
            <p class="right_">Hi preOpsLogsAdmin<span class="word-seperator"></span>
                <a href="/login/logout"><span class="white">Sign out</span></a>                </p>
            <p class="dashboard-heading">Machine Details &amp; History</p><br>
             <a href="/reports/download" style="cursor: pointer; font-size: large;">Download Report</a> <br>
        </div>

    </div>
</div>

<div class="col-md-12 machine-details">
<div class="col-md-3 machine-history">
    <div class="scroll-table">
    <table class="history">
        <tbody><tr>
            <th>16</th>
            <th>History</th>
        </tr>

        <tr>
            <td><b><a href="UGPvAhTXbQ">May 31, 2016</a></b></td>
            <td><b><a href="UGPvAhTXbQ">sowjanya</a></b></td>
        </tr>
        <tr>
            <td><a href="dtTbi7eTnB">May 31, 2016</a></td>
            <td><a href="dtTbi7eTnB">sowjanya</a></td>
        </tr></tbody></table>
        </div>
</div>

<div id="reports-gen">
<div class="col-md-9 machine-data" name="16" objid="UGPvAhTXbQ" date="May 31, 2016">
<div class="row forms-desc">
    <div class="col-sm-2">
        <img src="images/machines/4.png" pagespeed_url_hash="2330513245">
    </div>
    <div class="col-md-5 text-left">

        <p class="serial-number yellow">16</p>

        <p class="forms-points">Machine Hours: <b>25</b></p>

        <p class="forms-points">Inspected On:
            <b>May 31, 2016</b></p>

        <p class="forms-points">
            Inspected By: <b>sowjanya</b></p>
    </div>
    <div class="col-md-5">
        <div class="forms-brief">
            <h3 class="yellow">Skid Steers</h3>

            <ul class="values-circled">
                <li>
                    <div class="pass-btn">24</div>
                </li>
                <li>
                    <div class="warning-btn">0</div>
                </li>
                <li>
                    <div class="skip-btn">0</div>
                </li>
                <li>
                    <div>0</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
<div class="reports">
<table class="reports-table">



<tbody>
<!--<tr><td colspan="2" style="background: #3767B1;"><p class="groupName">FROM THE GROUND</p></td></tr>-->
<ul class="nav nav-pills shift-tabs">
    <li class="active shift-per"><a href="#">Start Shift</a></li>
    <li class="shift-per"><a href="#">End Shift</a></li>
</ul>
<tr>
    <td>
        <p class="question">Inspect tracks for excessive wear, tightness and mud/debris</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect bucket and attachment arms for excessive wear/damage</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect bucket lift and tilt cylinders, lines and hoses for excessive wear/damage/leaks</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect frame arms  for excessive wear/damage</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect lights front and rear  for function, damage to lens, housings and wiring</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect Confirm ALL fittings  for taking grease and that ALL joints show new grease</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect handholds and steps for condition/cleanliness</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect ROPS/FOPS for damage and loose mounting bolts</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr><td colspan="2" style="color:#000;background: #E9C96A;"><p class="groupName">ENGINE COMPARTMENT</p></td></tr>                                        <tr>
    <td>
        <p class="question">Inspect battery compartment for cleanliness and loose connections</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect engine oil  for fluid level</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect engine coolant  for fluid level</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect radiator for debris, damage and leaks</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect all hoses for cracks, wear spots and leaks</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect fuel filter/water separator for leaks/drain water if equipped</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect all belts  for tension, wear and cracks</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect air filter  for restriction</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect overall engine compartment   for trash, dirt buildup and leaks</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr><td colspan="2" style="background: #E9C96A;color:#000;"><p class="groupName">INSIDE THE CAB</p></td></tr>                                        <tr>
    <td>
        <p class="question">Inspect seat for adjustment and ability to reach controls</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect seat belt and seatbelt mount  for damage, wear and adjustment</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect horn, backup alarm and interior lights for Damage, Adjust For Best Visibility</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect cabin air filter for dirt/dust if equipped</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect gauges, indicators, switches and controls for damage/function</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect overall cab interior for cleanliness</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

<tr>
    <td>
        <p class="question">Inspect windows  for cleanliness, broken glass and worn wiper blades</p>

        <p class="comment">
            No comments                                                </p><br>
        <p class="defect-img">
        </p>

    </td>

    <td>
        <span class="question-status pass-btn">Pass</span>                                            </td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

</div>



</div>
</div>
</div>
<!-- /container -->
<footer>
    <p>©rapidBizApps LLC, All rights reserved.</p>
</footer>
<div id="loader_overlay">
    <!--            <img id="loader" src="--><!--/img/ajax_loader.gif">-->
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>


</body></html>