<div class="container-fluid barrick-login-bg">
    <div class="barrick-logo">
        <img class="center" src="images/logo.png">
    </div>

    <div class="barrick-user">
        <div class="container ">
            <div class="barrick-login">
                <!-- form start -->
                <form>

                    <div class="group">
                        <input type="email" placeholder="Username" class="focus-class barrick-userform" required></i>
                    </div>


                    <div class="group">
                        <input type="password" placeholder="Password" class="focus-class barrick-pswd" required></i>
                    </div>
                    <div class="group">

                        <div class="text-center">
                            <button type="button" href ui-sref="login" class="barrick-button-gradient button_styled btn">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>