<div class="login-bg">
<div class="main-div"></div>
<div class="main-wrapper">
<div class="container">
    <div class="row">
        <div class="side-body">
            <div class="home-bg">
                <!--    <h1 class="home-heading">Design Blasting <br> Services, LLC</h1>-->
                <img class="logo-home" src="images/logo.png">



                <form class="login-form form" ng-submit="login()">




                    <div class="form-group">
                    <div class="input-group">
                    <div class="input-group-addon"><img src="images/username_icon.png" height="20px"></div>
                    <input type="text" ng-model="loginUsername" placeholder="username" class="form-control" required>
                    </div>
                    </div>





                    <div class="form-group">
                    <div class="input-group">
                    <div class="input-group-addon"><img src="images/password_icon.png"></div>
                    <input type="password"  ng-model="loginPassword" placeholder="password" class="form-control" required>
                    </div>
                    </div>


                    <div class="group">
                        <div class="text-center">
                            <button type="submit" class="login-submit">Login</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- /container -->

</div>
</div>