<div id="wrapper">
<my-navbar></my-navbar>

    <!--page wrapper starts -->
    <div id="page-wrapper col-lg-12" class="dummy">
        <div class="container-fluid">
            <div class="row">
            <my-header info="Reports"></my-header>
                <!--table starts-->
                <div class="table-div table-mar" id="reports">
                    <div class="col-lg-12">


                        <!--<table class="grey table-padd table-reports">-->
                            <!--<tr>-->
                                <!--<th width="5%">Loader</th>-->
                                <!--<th width="15%">Heading</th>-->
                                <!--<th width="5%">Truck</th>-->
                                <!--<th width="15%">Material</th>-->
                                <!--<th width="25%">Destination</th>-->
                                <!--<th width="15%">Date</th>-->
                                <!--<th width="20%">User</th>-->
                            <!--</tr>-->

                            <!--<tr ng-repeat="element in elements | filter : searchKeyword">-->
                                <!--<td>{{element.docs.loader}}</td>-->
                                <!--<td>{{element.docs.header}}</td>-->
                                <!--<td>{{element.docs.truck}}</td>-->
                                <!--<td>{{element.docs.material}}</td>-->
                                <!--<td>{{element.docs.destination}}</td>-->
                                <!--<td>{{element.docs.date}}</td>-->
                                <!--<td>{{element.docs.user}}</td>-->
                            <!--</tr>-->

                            <!--<tr>-->
                                <!--<td>TRH0002</td>-->
                                <!--<td>OXIDE</td>-->
                                <!--<td>TRH0002</td>-->
                                <!--<td>OXIDE</td>-->
                                <!--<td>Waste Dump</td>-->
                                <!--<td>TUE<br>02.02.2016 6:00</td>-->
                                <!--<td>THOMAS REID</td>-->
                            <!--</tr>-->

                        <!--</table>-->



                        <div class="table-responsive grey table-padd-rep">
                            <table class="table">
                                <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Loader</th>
                                <th>Header</th>
                                <th>Truck</th>
                                <th>Material</th>
                                <th>Destination</th>
                                </tr>

                                <tr ng-repeat="element in elements | filter : searchKeyword">
                                <td>{{element.docs.date|| '-'}}</td>
                                <td>{{element.docs.user|| '-'}}</td>
                                <td>{{element.docs.loader|| '-'}}</td>
                                <td>{{element.docs.heading|| '-'}}</td>
                                <td>{{element.docs.truck|| '-'}}</td>
                                <td>{{element.docs.material|| '-'}}</td>
                                <td>{{element.docs.destination|| '-'}}</td>
                                </tr>
                               <!-- <tr>
                                <td>LOAD002</td>
                                    <td>DESTINATIfgnmcbgjkcvnh ggm,klty bmON</td>
                                    <td>TRH000gh mikui8lyk vm2</td>
                                    <td>OXIDE</td>
                                    <td>SEGRATED OXIDE STOCKPILcfh fgjysfujhtyikylE</td>
                                    <td>TUE<br>02.02.20fxch fgn 7yujnhy16 6:00</td>
                                    <td>Barrick Usefyunygujhnfgyr</td>
                                </tr>

                                <tr>
                                <td>LOAD0xvgfgn fkxlmbgfdmkfxc neixkgbke02</td>
                                <td>DESTINATION</td>
                                <td>TRH0002</td>
                                <td>OXIDE</td>
                                <td>SEGRATED OXIDE STOCKPILE</td>
                                <td>TUE<br>02.02.2016 6:00</td>
                                <td>Barrick User</td>
                                </tr>

                                   <tr>
                                <td>LOAD002</td>
                                <td>DESTINATION</td>
                                <td>TRH0002</td>
                                <td>OXIDE</td>
                                <td>SEGRATED OXIDE STOCKPILE</td>
                                <td>TUE<br>02.02.2016 6:00</td>
                                <td>Barrick User</td>
                                </tr>

                                <tr>
                                <td>LOAD002</td>
                                <td>DESTINATION</td>
                                <td>TRH0002</td>
                                <td>OXIDE</td>
                                <td>SEGRATED OXIDE STOCKPILE</td>
                                <td>TUE<br>02.02.2016 6:00</td>
                                <td>Barrick User</td>
                                </tr>-->
                            </table>
                        </div>




                    </div>
                </div>
                <!--table ends-->

                <!--<div class="pagination-div pull-right">
                    <ul class="pagination">
                        <li><a href="#">PREV</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">NEXT</a></li>
                    </ul>
                </div>-->




            </div>
            <!-- /.row  -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
        </div>
