<div class="tab-hd">
    <div class="col-lg-6 pad-0">{{info}}</div>
    <div class="pull-right switch" ng-controller="LoginController">
        <a href ng-click="logout()"> <img class="switch-img" src="images/switch.png"></a>
    </div>
</div>

<div class="col-lg-6 col-md-3 col-sm-12 clearfix" style="  padding-left: 56px;padding-top: 22px;">

    <!--<span class="white">Show</span>-->
    <!--<select class="border-select">-->
        <!--<option value="1">1</option>-->
        <!--<option value="2">2</option>-->
        <!--<option value="3">3</option>-->
        <!--<option value="4">4</option>-->
        <!--<option value="5">5</option>-->
        <!--<option value="6">6</option>-->
        <!--<option value="7">7</option>-->
        <!--<option value="8">8</option>-->
        <!--<option value="9">9</option>-->
        <!--<option value="10">10</option>-->
    <!--</select>-->
    <!--<span class="white">Entries</span>-->
</div>

<div class="col-lg-4 pad-56 col-md-5 col-sm-5" style="margin-top: 22px;">

    <label><span class="white">SEARCH <span class="rep-search-space">:</span></span>
        <input type="search" ng-model="searchKeyword" class="border0 bg-white" style="padding: 5px 32px 5px 5px;" placeholder="" aria-controls="example"></label>

</div>

<div class="col-lg-2 col-md-4 col-sm-12 pull-right pad-56" style="
                     margin-top: 22px;">
    <button class="add-btn black" ng-click="addElement()">ADD NEW</button>
</div>