<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-4">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"> <img src="images/logo.png"></a>
    </div>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div id="bx-pager" class="pad-30 collapse navbar-collapse navbar-ex1-collapse">
        <section>
            <ul class="nav navbar-nav side-nav">
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="users">Users</a>
                </li>
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="headings">Heading</a>
                </li>
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="materials">Materials</a>
                </li>
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="destinations">Destinations</a>
                </li>
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="mdRelation">Materials / Destinations Relations</a>
                </li>
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="loaders">Loaders</a>
                </li>
                <li ui-sref-active="active" class="gradient">
                    <a class="pad-60" href ui-sref="trucks">Trucks</a>
                </li>

                <li class="gradient">
                    <a class="pad-60" href id="menu1" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li ui-sref-active="active" role="presentation"><a class="pad-60" role="menuitem" tabindex="-1" href ui-sref="reports({interval: 'daily'})">Daily</a></li>
                        <li ui-sref-active="active" role="presentation"><a class="pad-60" role="menuitem" tabindex="-1" href ui-sref="reports({interval: 'weekly'})">Weekly</a></li>
                        <li ui-sref-active="active" role="presentation"><a class="pad-60" role="menuitem" tabindex="-1" href ui-sref="reports({interval: 'monthly'})">Monthly</a></li>
                    </ul>
                </li>


            </ul>
        </section>
    </div>
</nav>
<!-- End Navigation -->