<div id="page-wrapper col-lg-12">

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="tab-hd">
                <div class="col-lg-6 pad-0">Heading</div>
                <div class="pull-right switch">
                    <img class="switch-img" src="images/switch.png">
                </div>
            </div>

            <div class="col-lg-6 col-md-3 col-sm-12 clearfix" style="  padding-left: 56px;
    padding-top: 22px;">

                <span class="white">Show</span>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span class="white">Entries</span>
            </div>

            <div class="col-lg-4 pad-56 col-md-5 col-sm-1" style="
                     margin-top: 22px;">

                <label><span class="white">SEARCH: </span>
                    <input type="search" ng-model="searchKeyword" class="border0" style="padding: 5px 32px 5px 5px;" placeholder="" aria-controls="example"></label>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 pull-right pad-56" style="
                     margin-top: 22px;">
                <button class="add-btn black" ng-click="addOrEdit(elements,-1)">ADD NEW</button>
            </div>
            <!--table starts-->
            <div class="table-div">
                <div class="col-lg-12">


                    <table class="grey table-padd">
                        <tr>
                            <th width="25%">Heading</th>
                            <th width="25%">State</th>
                            <th width="25%"></th>
                            <th width="25%"></th>
                        </tr>

                        <!--<tr>
                            <td>232344441</td>
                            <td>Tammy synder</td>
                            <td>Active</td>
                            <td class="flex1">
                                <button class="edit-btn">Edit</button>
                                <button class="edit-btn">Delete</button></td>
                        </tr>-->

                        <tr ng-repeat="element in elements | filter : searchKeyword">
                            <td>{{element.docs.title}}</td>
                            <td>{{( element.docs.active == true ) ? 'Active' : 'Inactive'}}</td>
                            <td class="flex1">
                                <button class="edit-btn" ng-click="addOrEdit(elements,elements.indexOf(element))">Edit</button>
                                <button class="edit-btn" ng-click="delete(elements,elements.indexOf(element))">Delete</button>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <!--table ends-->

            <div class="pagination-div pull-right">
                <ul class="pagination">
                    <li><a href="#">PREV</a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">NEXT</a></li>
                </ul>
            </div>


            <!--add new-->

            <div class="modal fade" id="element-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">ADD element</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="recipient-name1" placeholder="element Id">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="recipient-name2" placeholder="Title">
                                </div>
                                <div class="pad20">
                                    State: <label class="switch1">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                                    Active
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="save-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--add new ends-->


        </div>
        <!-- /.row  -->

    </div>
    <!-- /.container-fluid -->

    <!-- Modal -->
    <script type="text/ng-template" id="myModalContent.html">
        <my-modal>
            <form name="myForm" novalidate>
                <div class="form-group">
                    <input type="text" ng-model="myelement.edittitle" class="form-control" placeholder="Title" required>
                </div>
                <div class="pad20">
                    State: <label class="switch1">
                    <input type="checkbox" value="active" ng-model="myelement.editactive" checked>
                    <span class="slider round"></span>
                </label>
                    Active
                </div>
                <!--<div class="form-group">
                    <input type="text" class="form-control" placeholder="active" required>
                </div>-->
            </form>
        </my-modal>
    </script>

    <!-- End Modal -->

</div>
<!-- /#page-wrapper -->